/* Déclaration de la version Droite */
/* 1. Version Droite */
@font-face {
    font-family: 'Albert Sans';
    src: url('font/AlbertSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* 2. Version Italique */
@font-face {
    font-family: 'Albert Sans';
    src: url('font/AlbertSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/* 1. Version Droite */
@font-face {
    font-family: 'CormorantGaramond';
    src: url('font/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}


/* 2. Version Italique */
@font-face {
    font-family: 'CormorantGaramond';
    src: url('font/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}



/* Configuration de base */

:root {
    --bg-color: #0a0a0a;
    --text-color: #FCF4C7;
    --border-color: rgba(255, 255, 255, 1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    overflow-x: hidden;
font-family: 'Albert Sans', sans-serif;
font-weight: 300;
}

/* Texture Grain SVG */

.texture-overlay {
    position: fixed;
    inset: 0;
    opacity: 0.03;
    pointer-events: none;
    background-image: url("data:image/svg+xml,..."); /* Ton code SVG précédent */
    z-index: 9999;
}

/* Navigation */
.page-transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0; /* Caché au début */
    background-color: #0a0a0a; /* Même couleur que ton site */
    z-index: 10000; /* Au-dessus de tout */
    transition: height 0.6s cubic-bezier(0.77, 0, 0.175, 1); /* Animation fluide */
}

/* Quand on active la transition */
.page-transition-overlay.active {
    height: 100vh;
}

/* Optionnel : Animation au chargement de la page (le store remonte) */
body.is-loading .page-transition-overlay {
    height: 100vh;
    bottom: 0;
    top: auto;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(10, 10, 10, 0.95);
    border-bottom: 2px solid var(--border-color);
    z-index: 100;
    display: flex;
    align-items: center;
}

.nav-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 40px;
    padding: 8px 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    background: white;
    color: black;
}

/* Hero Section */

/* Conteneur principal */
.hero-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Grille standard Figma */
    gap: 20px;
    padding: 180px 10% 100px;/* top-left-bottom */
    min-height: 97vh; /* Indispensable pour stabiliser le scroll au refresh */
    width: 100%;
}

/* Le titre occupe presque toute la largeur (colonnes 1 à 10) */
.hero-content h1 {
    grid-column: 1 / 11; 
font-size: clamp(3rem, 8vw, 7rem);
    line-height: 0.8;
   letter-spacing: -0.03em;
        max-width: 1400px;
 font-weight: 450 ;
}
.hero-content h1 span {
    font-family: 'CormorantGaramond', serif;
    font-style: italic;
    text-transform: lowercase; /* Le contraste de casse est très chic */
}

/* LA DESCRIPTION : Elle commence à la colonne 8 pour être bien à droite */
.hero-description {
    grid-column: 8 / 13; /* Elle occupe les 5 dernières colonnes */
    padding-left: 30px;
    margin-top: -20px; /* Ajustement pour remonter un peu vers le titre */
    position: relative;

}
.hero-description::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px; /* L'épaisseur de ton trait */
    height:70%;
    /* Voici l'effet d'effacement (le dégradé) */
background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.8) 0%,    /* Départ net en haut */
        rgba(255, 255, 255, 0.4) 40%,   /* Commence à s'estomper */
        rgba(255, 255, 255, 0.1) 80%,   /* Presque invisible */
        transparent 100%                /* Disparition totale */
    );
}

.hero-description p {
  font-family: 'CormorantGaramond'; /* On reste sur la Serif pour le récit */
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    color: #dfdfdf;

    
}

.hero-description .date {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    color: #888;
 margin-top: 20px;
}

/* Conteneur des projets */
.section-title {
    display: flex;
    align-items: center; /* Aligne le texte et le trait verticalement */
    gap: 20px;           /* Espace entre le texte et le début du trait */
    padding: 0px 10% 80px;   /* Aligné sur la même marge que ton Hero */
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
width: 100%;    /* Bloque la largeur à 1200px sur les grands écrans */
    margin: 0 auto; 
}

/* Le trait horizontal avec effet d'effacement */
.section-title::after {
    content: "";
    flex-grow: 1;        /* Le trait prend tout l'espace restant à droite */
    height: 1px;         /* Trait très fin */
    
    /* Effet pinceau : opaque à gauche, s'efface vers la droite */
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.8) 0%,   /* Départ net près du texte */
        rgba(255, 255, 255, 0.3) 50%,  /* Commence à s'estomper */
        transparent 100%               /* Disparaît totalement */
    );
}
.filter-container {
    padding: 0 10% 40px;
    display: flex;
    gap: 30px;
}

.filter-btn {
    background: none;
    border: none;
    color: var(--text-color);
    font-family: 'Albert Sans', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s;
    padding: 0;
}

.filter-btn.active, .filter-btn:hover {
    opacity: 1;
}

/* Classe pour masquer les projets filtrés */
.project-card.hidden {
    display: none;
}

/* Grille de Projets */
.projects-section {
    padding-bottom: 100px; /* Un grand espace pour laisser respirer ton dernier projet */
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(12, 11fr); /* Grille de 12 colonnes */
    border: 2px solid white;
max-width: 80%;            /* Prend 90% de la largeur sur petit écran */

    /* Bloque la largeur à 1200px sur les grands écrans */
    margin: 0 auto;        /* Centre la grille horizontalement */
    gap: 0;

}

.project-card {
    position: relative;
    overflow: hidden;
    max-height: 80vh;
    width: auto;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.7s ease;
}

.project-card:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* Tailles asymétriques */
.large { grid-column: span 7; }
.medium { grid-column: span 5; }

/* Overlay info au survol */
.project-overlay {
    position: absolute;
    inset: 0;
    background: rgba(10, 10, 10, 0.95);
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

/* Helpers bordures */
.border-right { border-right: 2px solid white; }
.border-bottom { border-bottom: 2px solid white; }



/* FOOTER */
.footer {
    background-color: var(--bg-color);
    padding: 70px 10% 60px; /* On laisse de la place après les projets */
    border-top: 2px solid rgb(255, 255, 255);

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

/* Positionnement sur la grille */
.footer-brand { grid-column: 1 / 6; }
.footer-container .footer-column:nth-child(2) { grid-column: 7 / 10; }
.footer-container .footer-column:nth-child(3) { grid-column: 10 / 13; }

/* Style du Logo avec la ligne en dessous */
.footer-logo {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 4px;
}

/* Le trait vertical à gauche de l'adresse */
.footer-brand-desc {
    position: relative;
    padding-left: 20px;
    margin-top: 10px;
}

.footer-brand-desc::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 1px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-brand-desc p {
    font-family: 'CormorantGaramond', serif;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5;
    color: #dfdfdf;
}

/* Labels (Connect / Contact) */
.footer-label {
    display: block;
    font-family: 'Albert Sans', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Liens et Texte */
.footer-links a, .footer-contact a, .footer-contact p {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: 13px;
    margin-bottom: 12px;
    transition: 0.3s;
}

.footer-links a:hover, .footer-contact a:hover {
    opacity: 0.5;
    padding-left: 5px; /* Petit effet de mouvement au survol */
}

@media (max-width: 1024px) {
    .projects-grid  {
grid-template-columns: 1fr;
    }
    .hero-content {
grid-template-columns: 1fr;
padding-bottom: 60px;
}
     }




/************************** Style spécifique à la page projet */
.project-meta {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.no-border-top {
    border-top: none !important;
}

/* Bloc de texte dans la grille */
.text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background: var(--bg-color);
}

.inner-text {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 30px;
}

.label {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
    display: block;
    margin-bottom: 15px;
}

.serif-italic {
    font-family: 'CormorantGaramond', serif;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1.3;
}

/* Navigation bas de page */
.project-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

.project-nav a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.project-nav a:hover {
    opacity: 0.5;
}

.project-link-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}